@import url('../base/reset.css');
@import url('../components/header.css');


.body-pages{
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .container-pages{
    background-color: #e2e2e2;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0,0,0, 0.5);
    overflow: hidden;
  }

  
  .header-pages{
    background-color: #000000;
    padding: 24px;
    text-align: center;
    color: #FFF;
  }
  
  
  .form-content{
    padding: 10px;
    margin-bottom: 10px;
    padding-bottom: 18px;
    position: relative;
  }
  
  .form-content label{
    display: inline-block;
    margin-bottom: 4px;
  }
  
  .form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
  }
  
  .form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
  }
  
  button{
    background-color: #000000;
    color: #FFF;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
  }